################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DistanceCalculator/.vs
/DistanceCalculator/DistanceCalculator.API/obj
/DistanceCalculator/DistanceCalculator.API.IntegrationTests/bin/Debug/net8.0
/DistanceCalculator/DistanceCalculator.API.IntegrationTests/obj
/DistanceCalculator/DistanceCalculator.API.UnitTests/obj
/DistanceCalculator/DistanceCalculator.API/DistanceCalculator.API.csproj.user
